section.about 
  .container 
    +blockBox("What we do", "Story about us", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio suscipit impedit ratione sint reprehenderit, consectetur nihil neque rem! Repudiandae magnam voluptate voluptates modi cum distinctio, corrupti expedita! Molestias, tenetur illo!")
    .about-list 
      +aboutItem({
        src:"./images/img-about1.png",
        alt:"img-about",
        title: "Super Team",
        icon: "fa fa-users"
      })
      +aboutItem({
        src:"./images/img-about2.png",
        alt:"img-about",
        title: "Super Team",
        icon: "fa fa-users"
      })
      +aboutItem({
        src:"./images/img-about3.png",
        alt:"img-about",
        title: "Super Team",
        icon: "fa fa-users"
      })
