section.people 
  .container 
    +blockBox("Happy Clients", "What People Say")
    ul.people-list 
      +peopleItem("./images/img-people1.png", "Matthew Dix", "Front-End Developer")
      +peopleItem("./images/img-people2.png", "Nick Karvounis", "Front-End Developer")
      +peopleItem("./images/img-people3.png", "Jayelynn Castillo", "Front-End Developer")
      +peopleItem("./images/img-people4.png", "Mike Petrucci", "Front-End Developer")