section.quote 
  .container
    .quote-container
      +quoteItem("./images/img-quote-avatar.png", true)
      +quoteItem("https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80", true, "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et aliquid omnis soluta sequi quia ea eius quae adipisci tenetur, assumenda aut necessitatibus magni ducimus quaerat fugiat minima quasi accusantium dolorem?", "Jemi-Kailh")
      +quoteItem("https://images.unsplash.com/photo-1585807515950-bc46d934c28b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80", true, "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et aliquid omnis soluta sequi quia ea eius quae adipisci tenetur, assumenda aut necessitatibus magni ducimus quaerat fugiat minima quasi accusantium dolorem?", "Steve Adam")