section.work 
  .container 
    +blockBox("What we do ", "Some Of Our Work" ,"Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, iure quibusdam ab autem necessitatibus, doloremque atque consectetur tempore veniam ut laboriosam aspernatur minus! Dicta, unde porro officia impedit sint perferendis.")
  .work-grid 
      +workItem()
      +workItem("./images/img-work3.png")
      +workItem("./images/img-work2.png")
      +workItem( "./images/img-work4.png") 
      +workItem("./images/img-work5.png","fa fa-home", "Creatively Designed", "Lorem ipsum dolor sit","work-item--full")
      +workItem("./images/img-work6.png")
      +workItem("./images/img-work7.png")
  //- .work-list 
  //-   .work-column
  //-     +workItem()
  //-     +workItem("./images/img-work3.png", "fa fa-cog", "Bridge")
  //-   .work-column
  //-     +workItem("./images/img-work2.png")
  //-     +workItem( "./images/img-work4.png")
  //-   .work-column 
  //-     +workItem("./images/img-work5.png", "fa fa-heart", "Beach", "The Beautifull of Beach", "work-item--full")
  //-   .work-column
  //-     +workItem("./images/img-work6.png","fa fa-bars")
  //-     +workItem("./images/img-work7.png","fa fa-building")